<main>
    <h1>Products in real time</h1>

    <ul id="products" class="collection"></ul>
    <div class="row">
        {{#if products.prevPage}}
            <a class="btn waves-effect waves-light" href="/?page={{products.prevPage}}">Anterior</a>
        {{/if}}

        {{#if products.nextPage}}
            <a class="btn right waves-effect waves-light" href="/?page={{products.nextPage}}">Siguiente</a>
        {{/if}}
    </div>
</main>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js"></script>